@font-face {
  font-family: "yyx";
  src: url("../fonts/regular.eot");
  src: url("../fonts/regular.woff") format("woff"),
    url("../fonts/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "yyx";
  src: url("../fonts/semibold.eot");
  src: url("../fonts/semibold.woff") format("woff"),
    url("../fonts/semibold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "yyx";
  src: url("../fonts/bold.woff") format("woff"),
    url("../fonts/bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.is-bordered th,
.is-bordered td {
  @apply border border-gray-200 px-3 py-2 text-left;
  vertical-align: top;
}

.prose tbody td:first-child,
.prose thead th:first-child {
  padding-left: .5714286em !important;
}
